<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">UK Trade Tariff Developer Portal</h1>

    <p class="govuk-body">
      Welcome to the official GOV.UK Developer Portal for HMRC Trade Tariff APIs.
    </p>

    <h3 class="govuk-heading-m">What you can do</h3>

    <p class="govuk-body">
      The Trade Tariff APIs offer structured, reliable access to official tariff information, which includes commodity codes, duty rates, VAT, quotas, and trade measures.
    </p>

    <p class="govuk-body">
      The Developer Portal enables you to manage your API keys and to explore, test and integrate UK tariff data directly from HMRC.
    </p>

    <p class="govuk-body">
      You can also manage your organisational details, invite new and remove existing members.
    </p>

    <h3 class="govuk-heading-m">Available APIs</h3>

    <%= govuk_list type: :bullet  do %>
      <%= tag.li do %>
        <%= tag.strong("Fast Parcel Operator (FPO) API") %> – Identify likely commodity codes from product descriptions to support rapid customs processing.
      <% end %>
    <% end %>

    <%= govuk_start_button(text: "Start now", href: api_keys_path) %>

    <h3 class="govuk-heading-m">Who this service is for</h3>
    <p class="govuk-body">
      Anyone who needs access to UK Trade Tariff data — including:
    </p>

    <%= govuk_list [
      "Software developers building customs or logistics integrations.",
      "Product managers overseeing compliance systems.",
      "Trade and customs specialists seeking accurate, up-to-date information.",
      ], type: :bullet
    %>

    <p class="govuk-body">
      Whether you are a large enterprise or an independent trader, the APIs
      provide consistent and authoritative data from HMRC’s Online Trade Tariff.
    </p>
  </div>
</div>
