<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">UK Trade Tariff Developer Portal</h1>
      <p class="govuk-body">This service allows you to create API keys to access the FPO Commodity Code Identification Tool API</p>

      <%= carrier_scheme_inset_text %>

      <p class="govuk-body">You can use this service to:</p>
      <%= govuk_list [
        "create an API key for yourself",
        "create an API key for someone else in your organisation",
        "revoke an API key",
        "view active API keys",
      ], type: :bullet %>

      <p class="govuk-body">
          You'll need a Government Gateway account to use this service. If you do not have a Government Gateway account, you can create one.
      </p>

      <p class="govuk-body">If it is your first time registering, you'll also need:</p>
      <%= govuk_list [
        "the name of your organisation",
        "the EORI number of your organisation",
        "the UK Authorised Carrier Scheme reference number of your organisation",
        "an email address for essential updates",
      ], type: :bullet %>

      <%= govuk_start_button(text: "Start now", href: "/dashboard") %>

      <h2 class="govuk-heading-m">If you need help</h2>
      <p class="govuk-body">
          If you have any further queries relating to the developer hub contact: <%= govuk_link_to "hmrc-trade-tariff-support-g@digital.hmrc.gov.uk", "mailto:hmrc-trade-tariff-support-g@digital.hmrc.gov.uk" %>
      </p>
    </div>
</div>
