<div class="govuk-grid-row">
  <%= govuk_notification_banner(title_text: "Important") do |nb| %>
    <%- nb.with_heading(text: "Developer Portal has moved to passwordless sign-in.") %>
    <p>You can now access this service using a secure one-time link sent to your email—no password required.</p>
    <p>It's faster and easier to use.</p>
  <% end %>

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">UK Trade Tariff Developer Portal</h1>

    <p class="govuk-body">
      Welcome to the official GOV.UK Developer Portal for HMRC Trade Tariff APIs.
    </p>

    <p class="govuk-body">
      This is your central entry point for exploring, testing, and integrating UK tariff data directly from HMRC.
    </p>

    <h3 class="govuk-heading-m">What you can do</h3>

    <p class="govuk-body">
      The Trade Tariff APIs provide structured, reliable access to official tariff information — including commodity codes, duty rates, VAT, quotas, and trade measures.
    </p>

    <p class="govuk-body">
      This service allows you to manage your API keys and overall access to the available APIs including:
    </p>

    <h3 class="govuk-heading-m">Available APIs</h3>

    <%= govuk_list type: :bullet  do %>
      <%= tag.li do %>
        <%= tag.strong("Categorisation API") %> – Check whether goods qualify for simplified (Green Lane) or standard (Red Lane) processes under the Windsor Framework.
      <% end %>
      <%= tag.li do %>
        <%= tag.strong("Commodity Code API") %> – Retrieve detailed information on commodity codes, including duties, VAT, and restrictions.
      <% end %>
      <%= tag.li do %>
        <%= tag.strong("Fast Parcel Operator (FPO) API") %> – Identify likely commodity codes from product descriptions to support rapid customs processing.
      <% end %>
    <% end %>

    <%= govuk_start_button(text: "Start now", href: api_keys_path) %>

    <h3 class="govuk-heading-m">Who this service is for</h3>
    <p class="govuk-body">
      Anyone who needs access to UK Trade Tariff data — including:
    </p>

    <%= govuk_list [
      "Software developers building customs or logistics integrations.",
      "Product managers overseeing compliance systems.",
      "Trade and customs specialists seeking accurate, up-to-date information.",
      ], type: :bullet
    %>

    <p class="govuk-body">
      Whether you are a large enterprise or an independent trader, the APIs
      provide consistent and authoritative data from HMRC’s Online Trade Tariff.
    </p>

    <h3 class="govuk-heading-m">Getting started</h3>

    <p class="govuk-body">
      With an account you can generate, view and manage your API keys.
    </p>

    <%= govuk_list [
      "Test APIs in a secure sandbox environment",
      "View interactive documentation and changelogs",
      "Manage credentials and rate limits",
      "Update your user profile and organisation details",
      ], type: :bullet
    %>

    <p class="govuk-body">You can set up an organisation account using a single shared company profile.</p>

    <p class="govuk-body">Additional users can be invited or removed from the organisation account.</p>
  </div>
</div>
