<h1 class="govuk-label govuk-label--l">Register for the FPO Commodity Code Identification Tool API</h1>

<p class="govuk-body">
To allow you to use the FPO Commodity Code Identification Tool API we need to check that your organisation is UK Carrier Scheme (UKC) registered.
</p>

<p class="govuk-body">
Enter the following information about your organisation. This will be used to verify your account.
</p>

<%= f.govuk_text_field :organisation_name %>
<%= f.govuk_text_field :eori_number %>
<%= f.govuk_text_field :ukacs_reference %>
<%= f.govuk_email_field :email_address, autocomplete: "email", spellcheck: false %>

<h2 class="govuk-heading-m">If you need help</h2>

<p class="govuk-body">
    If you have any further queries relating to the developer portal contact: <%= govuk_link_to "hmrc-trade-tariff-support-g@digital.hmrc.gov.uk", "mailto:hmrc-trade-tariff-support-g@digital.hmrc.gov.uk" %>
</p>
