<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel(title_text: "Trade Tariff API key created") %>

    <h2 class="govuk-heading-l">Copy your secret now</h2>
    <%= govuk_warning_text(text: "You must copy this secret to somewhere safe. You will not be able to view it again once you leave this page.") %>

    <div class="govuk-summary-list govuk-!-margin-bottom-6">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Client ID</dt>
        <dd class="govuk-summary-list__value"><code class="govuk-code" id="trade-tariff-client-id"><%= @trade_tariff_key.client_id %></code></dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Client secret</dt>
        <dd class="govuk-summary-list__value"><code class="govuk-code" id="trade-tariff-client-secret"><%= @client_secret %></code></dd>
        <dd class="govuk-summary-list__actions">
          <button type="button"
                  class="govuk-button govuk-button--secondary"
                  data-module="govuk-button"
                  data-copy-target="trade-tariff-client-secret">
            Copy secret
          </button>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Scopes</dt>
        <dd class="govuk-summary-list__value"><%= @trade_tariff_key.scopes.join(', ') %></dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </div>

    <h2 class="govuk-heading-l">Get an access token</h2>
    <p class="govuk-body">Use the token endpoint for this environment:</p>
    <div class="govuk-inset-text govuk-!-margin-bottom-4">
      <code class="govuk-code" id="trade-tariff-token-endpoint"><%= TradeTariffDevHub.cognito_token_endpoint %></code>
    </div>

    <p class="govuk-body">Example curl command:</p>
    <div class="govuk-inset-text govuk-!-margin-bottom-2">
      <pre class="govuk-body govuk-!-margin-0"><code class="govuk-code" id="trade-tariff-curl-command">curl --request POST &quot;<%= TradeTariffDevHub.cognito_token_endpoint %>&quot; \
  -H &quot;Content-Type: application/x-www-form-urlencoded&quot; \
  -d &quot;grant_type=client_credentials&amp;client_id=<%= @trade_tariff_key.client_id %>&amp;client_secret=<%= @client_secret %>&quot;</code></pre>
    </div>
    <button type="button"
            class="govuk-button govuk-button--secondary"
            data-module="govuk-button"
            data-copy-target="trade-tariff-curl-command">
      Copy curl command
    </button>

    <p class="govuk-body">
      <%= govuk_link_to "Back to Trade Tariff keys", trade_tariff_keys_path %>
    </p>
  </div>
</div>
