<!DOCTYPE html>
<html class="govuk-template app-html-class">
  <head>
    <title><%= content_for(:title) || "Commodity Code Identification Tool Developer Hub" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta charset="utf-8">
    <meta name="theme-color" content="blue">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'favicon.svg' %>
    <%= favicon_link_tag 'govuk-icon-mask.svg', rel: 'mask-icon', type: 'image/svg', color: "#0b1c0c" %>
    <%= favicon_link_tag 'govuk-icon-180.png', rel: 'apple-touch-icon', type: 'image/png', size: '180x180' %>

    <%= stylesheet_link_tag "govuk-frontend.min", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <%= govuk_header(homepage_url: ENV.fetch("GOVUK_APP_DOMAIN", "http://localhost:3000"), service_name: "Commodity Code Identification Tool Developer Hub", service_url: "#") do |header|
    if respond_to?(:current_user) && current_user.present?
      header.with_navigation_item(text: "Dashboard", href: api_keys_path, active: true)
      header.with_navigation_item(text: "Update Profile", href: update_profile_url, active: false)
      header.with_navigation_item(text: "Manage Team", href: manage_team_url, active: false)
      header.with_navigation_item(text: "Sign Out", href: logout_path, active: false)
    end
  end %>

  <body class="govuk-template__body app-body-class">
    <div class="govuk-width-container app-width-container">
    <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
    <%= govuk_phase_banner(tag: { text: "Beta" }) do %>This is a new service, your
      <%= govuk_link_to("feedback (opens in a new tab)", ENV["FEEDBACK_URL"] || 'https://www.trade-tariff.service.gov.uk/feedback', target: "_blank") %>
      will help us improve it.
    <% end %>
    <main class="govuk-main-wrapper app-main-class" id="main-content">
      <%= yield %>
    </main>
  </div>
  </body>

  <%= govuk_footer(meta_items_title: "Helpful links", meta_items: {
    "API Documentation" => TradeTariffDevHub.documentation_url,
    "Feedback" =>  TradeTariffDevHub.feedback_url,
    "Privacy policy" => "https://hub.trade-tariff.service.gov.uk/privacyPolicy",
    "Cookies" => "#",
    "Terms and conditions" => TradeTariffDevHub.terms_and_conditions_url,
  }) %>
</html>
